*
{
    margin: 0;
    padding: 0;
}

#container
{
    width: 400px;
    margin: 0 auto;
    margin-top: 10%;
    position: relative;
}


#Form
{
    height: 100vh;
    background-image: none;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

input[type=submit] {
    background-color: white;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    background-color: black;
    color: white;
    border: 1px solid #097a89
}


input
{
    background-color: black;
    color: white;
    height: 35px;
    width: 250px;
}
label
{
    font-weight: 3em;
    font-size: 25px;
    font-family: cursive;
    color:white;
}
form
{
    width: 700px;
    background-color: rgba(0,0,0,.3);
    padding: 80px;
    box-sizing: border-box;
    border: solid 2px rgba(255,255,255);
    border-radius: 20px;
    border-left: 1px solid rgba(255,255,255,-3);
    border-top: 1px solid rgba(255,255,255,-3);
    box-shadow: 20px 20px 50px -10px rgba(0,0,0,-2);

}
input
{
    display: block;
    margin: 10px auto;
    width: 300px;
    padding: 1rem;
    outline: none;
    border: none;
    box-sizing: border-box;
    border-radius: 6px;
    background: transparent;
    border-bottom: solid 1px white;

}
input[type="submit"]
{
    background-color: whitesmoke;
    color: black;
    font-family: cursive;
    font-weight: bold;
    border: black;

}



body
{
    /*background-image: url("Scientis.jpg");*/
    background: linear-gradient(30deg,#e52890,#097a89) ;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: back; /*Donnez un nom à l'animation*/
    animation-duration: 5s;/*La durée de l'animation*/
    animation-iteration-count:infinite ;/*Nombre de fois que l'animations va se répéter*/
    animation-timing-function: linear;
}
@keyframes back
{
    0%
    {
        filter: hue-rotate(0deg);
    }
    100%
    {
        filter: hue-rotate(360deg);
    }
}

ion-icon
{
    
    color: white;
    

}
h1
{
    color: white;
    font-family: cursive;
    text-align: center;
    
}
.User
{
    align-items: center;
}

a
{
    text-decoration: none;
    color: white;
    align-items: center;
    font-family: cursive;
    
}
a:hover
{
    text-shadow: 2px 2px 6px rgba(0,0,0);
}


.drop
{
    background: rgba(0,0,0,.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    position: absolute;
    border-left: 1px solid rgba();
    border-top: 1px solid rgba(0,0,0,.3);
    border-radius: 10px;
    box-shadow: 10px 10px 60px -8px rgba(0,0,0,.2);
}
.drop-1
{
    height:175px; width: 175px;
    top: -10px; left:-70px;
    z-index: -1;
}

.drop-2
{
    height:175px; width: 175px;
    right: -120px; top: 150px;
    z-index: -1;
}
.drop-3
{
    height: 175px; width: 175px;
    bottom: 5px; right: -140px;
    z-index: -1;
}
.drop-4
{
    height:175px; width: 175px;
    left:-95px; bottom: 20px;
    z-index: -1;
}

.drop-5
{
    height:175px; width: 175px;
    left:105px; 
    z-index: -1;
}
